{% extends 'home.html' %}
{% block content %}
<div style="height: calc(100vh - 56px);" class="d-flex justify-content-center align-items-center">
    <form class="form d-flex flex-column shadow p-3 mx-2 pt-4 pb-2" method="POST">
        {% csrf_token %}

        {% block form %}

        {% endblock %}

        {% if form.errors %}
        <div id="erros" class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                {{field}}
                {% for error in errors %}
                    {{ error }} 
                {% endfor %} 
            {% endfor %}
        </div>
        {% endif %}

        <div class="row w-100">
            <div class="col-6">
                <button class="btn btn-primary w-100" type="submit">
                    Guardar
                </button>
            </div>
            <div class="col-6">
                <a href="{{ cancelar }}" class="btn btn-danger w-100">
                    Cancelar
                </a>
            </div>
        </div>

    </form>
</div>
{% endblock %}