{% extends 'tablaBase.html' %}
{% block thead %}
<th>Rol</th>
<th>Nombre(s)</th>
<th>Apellido(s)</th>
<th>Cédula</th>
<th>Acciones</th>
{% endblock %}
{% block tbody %}
{% for i in usuario %}
<tr>
    <td> {{i.rol}} </td>
    <td> {{i.first_name}} </td>
    <td> {{i.last_name}} </td>
    <td> {{i.cedula}} </td>
    <td>
        <a class="btn btn-warning" href="{% url 'editarUsuario' i.pk %}">Editar</a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="5">No hay usuarios registrados</td>
</tr>
{% endfor %}
{% endblock %}