{% extends 'formulario.html' %}
{% load static %}
{% block form %}
<h4 class="text-center">Registro de un nuevo rol</h4>
<div class="m-2">
  <div class="row">
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Nombre del rol: </label>
      <div class="input-group border-0 flex-nowrap">
        {{form.name}}
      </div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Permisos: </label>
      <div class="input-group border-0 flex-nowrap">
        {{form.permissions}}
      </div>
    </div>
  </div>
{% endblock %}