{% extends 'formulario.html' %} {% block form %}
<h4 class="text-center">Sprint</h4>
<div class="m-2">
  <div class="row">
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Asignar tarea: </label>
      <div class="input-group border-0 flex-nowrap">{{form.Tarea}}</div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Proyecto al que le pertenece el sprint: </label>
      <div class="input-group border-0 flex-nowrap">{{form.Proyecto}}</div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Nombre del Sprint: </label>
      <div class="input-group border-0 flex-nowrap">{{form.Titulo}}</div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Fecha inicio: </label>
      <div class="input-group border-0 flex-nowrap">{{form.Fecha_inicio}}</div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" for="username"> Fecha fin: </label>
      <div class="input-group border-0 flex-nowrap">{{form.Fecha_fin}}</div>
    </div>
  </div>
  {% endblock %}
</div>
