{% extends 'formulario.html' %}
{% block form %}
<h4 class="text-center">Creación de un nuevo proyecto</h4>
<div class="m-2">
  <div class="row">
    <div class="col-12 mb-3">
      <label class="form-label" > Nombre del proyecto: </label>
      <div class="input-group border-0 flex-nowrap">
        {{form.Nombre}}
      </div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" > Descripción: </label>
      <div class="input-group border-0 flex-nowrap">
        {{form.Descripcion}}
      </div>
    </div>
    <div class="col-12 mb-3">
        <label class="form-label" > Fecha de Inicio: </label>
        <div class="input-group border-0 flex-nowrap">
          {{form.Fecha_inicio}}
        </div>
      </div>
      <div class="col-12 mb-3">
        <label class="form-label" > Fecha de Fin: </label>
        <div class="input-group border-0 flex-nowrap">
          {{form.Fecha_fin}}
        </div>
      </div>
      <div class="col-12 mb-3">
        <label class="form-label" > Gerente: </label>
        <div class="input-group border-0 flex-nowrap">
          {{form.Gerente}}
        </div>
      </div>
      <div class="col-12 mb-3">
        <label class="form-label" > Cliente: </label>
        <div class="input-group border-0 flex-nowrap">
          {{form.Cliente}}
        </div>
      </div>
  </div>
</div>
{% endblock %}